/WebServiceSOAPBoulangerie.iml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/.gitignore
/PaymentsWS/PaymentsWS.iml
/ProductsWS/ProductsWS.iml
/UsersWS/UsersWS.iml
/UsersWS/target/
/boulangerie.db
/ClientWS/ClientWS.iml
